<table style="width: 100%;">
  <tbody>
    <tr>
      <td class="h1">主标题</td>
      <td class="h1">40px Extra large</td>
    </tr>
    <tr>
      <td class="h2">标题</td>
      <td class="h2">30px large -- line-height: 48px</td>
    </tr>
    <tr>
      <td class="h3">小标题</td>
      <td class="h3">18px Medium -- line-height: 28px</td>
    </tr>
    <tr>
      <td class="text-regular">正文</td>
      <td class="text-regular">16px Small -- line-height: 26px</td>
    </tr>
    <tr>
      <td class="text-small">正文（小）</td>
      <td class="text-small">14px Extra Small -- line-height: 22px</td>
    </tr>
    <tr>
      <td class="text-smaller">辅助文字</td>
      <td class="text-smaller">12px Extra Extra Small -- line-height: 18px</td>
    </tr>
  </tbody>
</table>
