@import "../../common.scss";

.h1 {
  font-size: pxToRem(40px);
}

.h2 {
  font-size: pxToRem(30px);
  line-height: pxToRem(48px);
}

.h3 {
  font-size: pxToRem(18px);
  line-height: pxToRem(28px);
}

.text-regular {
  font-size: pxToRem(16px);
  line-height: pxToRem(26px);
}

.text-small {
  font-size: pxToRem(14px);
  line-height: pxToRem(22px);
}

.text-smaller {
  font-size: pxToRem(12px);
  line-height: pxToRem(18px);
}